* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  color: #fff;
}

h1 {
  color: #001c69;
  font-size: 2em;
}

h2 {
  color: #001c69;
  font-size: 1.75em;
}

h3 {
  color: #001c69;
  font-size: 1.5em;
}

h4 {
  color: #001c69;
  font-size: 1.25em;
}

a {
  text-decoration: none;
}

p {
  width: 100%;
  margin: 10px;
  text-decoration: none;
}

.btn-pw {
  margin: 10px;
  width: 100%;
  border: none;
  background: none;
  color: #ffd000;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-pw:hover {
  color: #001c69;
  background: rgba(255, 208, 0, 0.8);
}

.contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 60px auto auto auto auto;
      grid-template-rows: 60px auto auto auto auto;
  grid-gap: 20px;
      grid-template-areas: "header header" "aside section" "nulo section" "nulo2 section" "footer footer";
  background: #fff;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.contenedor .header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background: #001c69;
  background-attachment: fixed;
  top: 0px;
  position: -webkit-sticky;
  position: sticky;
  padding: 0 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-gap: 20px;
  -webkit-box-shadow: 0px 0px 20px 0px black;
          box-shadow: 0px 0px 20px 0px black;
  z-index: 1;
}

.contenedor .header .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor .header .header-logo .btn-pw {
  margin: 0;
  padding: 10px 20px;
  font-size: 2em;
}

.contenedor .header .header-logo .btn-pw .fa {
  margin-right: 0px;
}

.contenedor .header .header-logo a {
  height: 50px;
  margin-left: 20px;
}

.contenedor .header .header-logo a img {
  height: 100%;
}

.contenedor .header .header-buscar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: auto;
}

.contenedor .header .header-buscar .input {
  width: 90%;
  outline: none;
  height: 30px;
}

.contenedor .header .header-buscar .btn-pw {
  height: 30px;
  width: 10%;
  margin: 0;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.1);
}

.contenedor .header .header-buscar .btn-pw:hover {
  background: rgba(255, 208, 0, 0.8);
}

.contenedor .header .header-buscar .btn-pw .fa {
  margin: 0 auto;
}

.contenedor .header .header-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contenedor .header .header-user .btn-pw .fa {
  margin-right: 10px;
}

.contenedor .section {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: section;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contenedor .section .card-pw {
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
  color: #000;
}

.contenedor .section .card-pw .card-img {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.contenedor .section .card-pw .card-img img {
  width: 120%;
}

.contenedor .section .card-pw .precio {
  width: 100%;
  margin-left: 20px;
}

.contenedor .section .card-pw .card-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.contenedor .section .card-pw .card-titulo .titulo {
  width: 100%;
}

.contenedor .section .card-pw:hover {
  -webkit-box-shadow: 0px 0px 12px 0px #000000;
  box-shadow: 0px 0px 12px 0px #000000;
}

.contenedor .aside {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aside;
  top: 80px;
  position: -webkit-sticky;
  position: sticky;
  color: #000;
}

.contenedor .aside .filtros {
  margin: auto;
  top: 70px;
  width: 70%;
  border-right: solid #000 1px;
}

.contenedor .aside .filtros .separador-categorias {
  margin-top: 20px;
  width: 100%;
}

.contenedor .aside .filtros .filtro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contenedor .aside .filtros .filtro label {
  width: 95%;
}

.contenedor .aside .filtros .filtro p {
  width: 10%;
  margin: 0;
  text-align: center;
}

.contenedor .aside .filtros .filtro .input {
  width: 10%;
}

.contenedor .aside .filtros .filtro .check {
  width: 20px;
}

.contenedor .aside .filtros .filtro .txtbox {
  width: 35%;
  outline: none;
  padding: 5px;
}

.contenedor .footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  background: #001c69;
}

.contenedor .footer .enlaces-footer {
  width: 70%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contenedor .footer .enlaces-footer .btn-pw {
  text-align: center;
  width: 20%;
}

.contenedor .footer .derechos {
  font-size: 0.8em;
  text-align: center;
}

.contenedor .footer .redes-sociales {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor .footer .redes-sociales .fa {
  margin: 20px;
  font-size: 2em;
}
/*# sourceMappingURL=estilos.css.map */