.contenedor{
    .section{
        .busqueda{
            width: 80%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            border-width: 0px;
            .card-img{
                width: 20%;
                margin: 0;
                height: auto;
                img{
                    width: 150%;
                }
            }
            .titulo{
                width: 60%;
                margin: 10px;
            }
            .precio{
                width: 10%;
            }
        }
    }
}
