$colorP: rgb(0, 28, 105);
$colorS: #fff;
$colorT: rgb(255, 208, 0);

.navebar {
    background-color: rgb(0, 28, 105);
}

.user_name {
    font-size: 14px;
    font-weight: bold;
}

.comments-list .media {
    border-bottom: 1px dotted #ccc;
}

.boton{
    background: none;
    transition: 0.3s;
    color: $colorT;
    border: none;
    &:hover{
        background: rgba($colorT, 0.8);
        color: $colorP;
    }
}

.contenido-curso{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.media-left{
    width: 40px;
    margin: 20px;
    img{
        width: 100%;
        border-radius: 100%;
        border: solid 3px $colorP;
    }
}



.btn-pw{
    margin: 10px;
    width: 100%;
    border: none;
    background: none;
    color: $colorT;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    text-decoration: none;
    transition: 0.3s;
    &:hover{
        //opacity: 80%;
        color: $colorP;
        background: rgba($colorT, 0.8);
    }
}

.footer{
    grid-area: footer;
    background: $colorP;
    .enlaces-footer {
        width: 70%;
        margin: 20px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .btn-pw{
            text-align: center;
            width: 20%;
        }
    }
    .derechos {
        font-size: 0.8em;
        text-align: center;
        color: rgb(255, 208, 0);
    }
    .redes-sociales {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: center;
        color: rgb(255, 208, 0);
        .fa {
            margin: 20px;
            font-size: 2em;
        }
    }
}