$colorP: rgb(0, 28, 105);
$colorBoton: rgb(228, 113, 113);
$colorBotonHover: rgb(224, 154, 154);
$colorS: #fff;
$colorT: rgb(255, 208, 0);

@import 'generales';

@import 'header';

@import 'section';

@import 'aside';

@import 'footer';

// @import 'nav';
// @import 'header';
// @import 'section';
// @import 'aside';
// @import 'footer';

// @import 'queries';