$colorP: rgb(0, 28, 105);
$colorBoton: rgb(228, 113, 113);
$colorBotonHover: rgb(224, 154, 154);
$colorS: #fff;
$colorT: rgb(255, 208, 0);

.contenedor{
    .section{
        .separador {
            height: 40px;
            width: 100%;
            border-bottom: 4px solid $colorP;
            margin-bottom: 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            .info {
                color: $colorP;
                width: 50%;
                margin: 0 10px;
            }
            .btn-pw {
                padding: 10px;
                background: $colorP;
                margin: 10px;
                &:hover {
                    background: rgba($colorP, 0.5);
                }
                &:active {
                    background: $colorP;
                }
            }
        }
        .paneles{
            //background: $colorP;
            border-radius: 10px;
            width: 100%;
            // .rojo{
            //     background: red;
            // }
            // .azul{
            //     background: blue;
            // }
            // .verde{
            //     background: green;
            // }
            // .amarillo{
            //     background: yellow;
            // }
            .tab-panel{
                width: 0px;
                display: none;
                transition: 200ms;
                .mi-perfil{
                    padding: 10px;
                    margin: 10px;
                    margin: auto;
                    display: flex;
                    flex-wrap: wrap;
                    -webkit-box-shadow: 0px 0px 12px 0px #000000; 
                    box-shadow: 0px 0px 12px 0px #000000;
                    background: $colorP;
                    border-radius: 10px;
                    .titulo{
                        width: 100%;
                        margin: 10px auto;
                        text-align: center;
                        color: $colorS;
                    }
                    .new-foto{
                        width: 100px;
                        border-radius: 100%;
                        margin: 10px auto;
                    }
                    .accion{
                        margin-top: 20px;
                        width: 100%;
                        color: $colorS;
                    }
                    .inputs{
                        padding: 5px;
                        width: 100%;
                        margin: 10px 10px;
                        outline: none;
                        font-size: 1.2em;
                        transition: 200ms;
                        &:focus {
                            border: 2px solid $colorP;
                        }
                    }
                    .datos-actuales{
                        width: 100%;
                        border-radius: 20px;
                        padding: 20px;
                        background: rgba($colorS, 0.1);
                        .accion{
                            margin-top: 20px;
                            color: $colorS;
                        }
                    }
                }
                .mitad{
                    width: 40%;
                    margin: 10px;
                }
                .busqueda{
                    width: 80%;
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    border-width: 0px;
                    .card-img{
                        width: 20%;
                        margin: 0;
                        height: auto;
                        img{
                            width: 150%;
                        }
                    }
                    .titulo{
                        width: 80%;
                        margin: 10px;
                    }
                }
                .crea-nota {
                    width: 100%;
                    padding: 10px;
                    .inputs {
                        width: 100%;
                        padding: 5px;
                        font-size: 1.2em;
                        margin: 10px 0;
                    }
                    textarea {
                        max-width: 1235.33px;
                    }
                    .caja  {
                        width: 100%;
                    }
                    .btn-pw {
                        width: 150px;
                        background: $colorP;
                        &:hover {
                            background: rgba($colorP, 0.8);
                        }
                        &:active {
                            background: $colorP;
                        }
                    }
                    .crear {
                        width: 100%;
                        margin: 20px 0;
                    }
                    .titulo{
                        color: $colorP;
                    }
                }
            }
            .activo{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                transition: 200ms;
                justify-content: space-around;
            }
        }
        
    }

    .aside{
        background: $colorP;
        border-radius: 10px;
        .perfil{
            width: 100%;
            .usuario{
                width: 100%;
                .usuario-img{
                    margin: auto;
                    margin-top: 20px;
                    width: 40%;
                    img{
                        width: 100%;
                        border-radius: 100%;
                    }
                }
                .info-user{
                    color: $colorS;
                    width: 100%;
                    text-align: center;
                    margin-top: 20px;
                }
            }
            .panel-opciones-perfil{
                margin-top: 20px;
                .btn-pw{
                    margin: 0;
                    outline: none;
                    &:focus{
                        background: rgba($colorT, 0.8);
                        color: $colorP;
                    }
                }
            }
        }
        
    }
}